
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.img1 {
  overflow: hidden;
  border-radius: 15px;
  width: 500px;
  position: relative;
  width: 500px;
  height: 400px;
}


.scrollbox1 {
  width: 100%;
  height: 200%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #1e1d24;
}

.box1 { 
  width: 200px;
  height: 100px;
  background-color: rgb(99, 98, 98);
  position: relative;
  backdrop-filter: blur(10px);
  opacity: 0.2;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
} 
