
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.img1 {
  border-radius: 15px;
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.scrollbox1 {
  scrollbar-width: 5px;
  scrollbar-color: #1e1d24;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: #1e1d24;
}

.box1 { /* box blur */

  max-width: 35%;
  max-height: 35%;
  width: 35%;
  height: 35%;
  background-color: rgba(99, 98, 98, 0.3);
  backdrop-filter: blur(5px);
  transform: translate(5%, -110%);
  border-radius: 15px;
} 

.box2 { /* img1 background box */
  max-width: 50%;
  max-height: 30%;
  width: 1000px;
  height: 500px;
  scrollbar-width: 15px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  transform: translateY(100px);
}