
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.img1 {
  border-radius: 15px;
  position: relative;
  transform: translate(0%, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.scrollbox1 {
  scrollbar-width: 5px;
  scrollbar-color: #1e1d24;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: #1e1d24;
}

.box1 { 
  width: 200px;
  height: 100px;
  background-color: rgba(99, 98, 98, 0.3);
  position: relative;
  backdrop-filter: blur(5px);
  transform: translate(50px, -150px);
  border-radius: 15px;
} 

.box2 {
  width: 50%;
  height: 500px;
  scrollbar-width: 15px;
  background-color: transparent ;
  position: relative;
  margin: 0 auto;
  transform: translateY(100px);
}